---
import favicon from "./_favicon.svg";
import { testData } from "testdata";
const entries = await testData();
import { Table } from "../components/Table";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={favicon.src} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main>
      <Table data={entries} />
    </main>
  </body>
</html>
